<?xml version="1.0" encoding="utf-8"?>
<FrameLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@android:color/background_light"
    tools:context=".Fragment_config">

    <androidx.constraintlayout.widget.ConstraintLayout
        xmlns:app="http://schemas.android.com/apk/res-auto"
        android:layout_width="match_parent"
        android:layout_height="match_parent">

        <!--  contents  -->
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:weightSum="12" >

            <Space
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:layout_weight="1" />
            <LinearLayout
                android:orientation="horizontal"
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:layout_weight="5"
                android:weightSum="17" >
                <Space
                    android:layout_width="0dp"
                    android:layout_height="match_parent"
                    android:layout_weight="0.75" />

                <com.goprot.ih4c_mobile.SquareLayout
                    android:layout_width="0dp"
                    android:layout_height="match_parent"
                    android:layout_weight="7.5"
                    android:layout_gravity="center_vertical"
                    android:weightSum="1">
                    <LinearLayout
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:layout_weight="1"
                        android:weightSum="1">

                        <com.google.android.material.imageview.ShapeableImageView
                            android:id="@+id/user_icon"
                            android:layout_width="wrap_content"
                            android:layout_height="match_parent"
                            android:layout_weight="1"
                            android:adjustViewBounds="true"
                            android:scaleType="centerCrop"
                            android:src="@drawable/icon_user"
                            app:shapeAppearanceOverlay="@style/circleImageView" />
                    </LinearLayout>
                </com.goprot.ih4c_mobile.SquareLayout>

<!--                <ImageView-->
<!--                    android:layout_width="0dp"-->
<!--                    android:layout_height="match_parent"-->
<!--                    android:layout_weight="7.5"-->
<!--                    app:srcCompat="@drawable/icon_user" />-->
                <Space
                    android:layout_width="0dp"
                    android:layout_height="match_parent"
                    android:layout_weight="1.5" />
                <LinearLayout
                    android:orientation="vertical"
                    android:layout_width="0dp"
                    android:layout_height="match_parent"
                    android:layout_weight="6.5"
                    android:weightSum="5" >
                    <Space
                        android:layout_width="match_parent"
                        android:layout_height="0dp"
                        android:layout_weight="0.6" />
                    <TextView
                        android:id="@+id/username"
                        android:layout_width="match_parent"
                        android:layout_height="0dp"
                        android:text="@string/name"
                        android:autoSizeTextType="uniform"
                        android:layout_weight="0.75" />
                    <TextView
                        android:id="@+id/user_name"
                        android:layout_width="match_parent"
                        android:layout_height="0dp"
                        android:autoSizeTextType="uniform"
                        android:layout_weight="0.75" />
                    <Space
                        android:layout_width="match_parent"
                        android:layout_height="0dp"
                        android:layout_weight="0.65" />
                    <TextView
                        android:id="@+id/userpass"
                        android:layout_width="match_parent"
                        android:layout_height="0dp"
                        android:text="@string/pass"
                        android:autoSizeTextType="uniform"
                        android:layout_weight="0.75" />
                    <TextView
                        android:id="@+id/user_pass"
                        android:layout_width="match_parent"
                        android:layout_height="0dp"
                        android:autoSizeTextType="uniform"
                        android:layout_weight="0.75" />
                    <Space
                        android:layout_width="match_parent"
                        android:layout_height="0dp"
                        android:layout_weight="0.75" />
                </LinearLayout>
            </LinearLayout>
            <Space
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:layout_weight="0.5" />
            <LinearLayout
                android:orientation="horizontal"
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:layout_weight="2"
                android:weightSum="17" >
                <Space
                    android:layout_width="0dp"
                    android:layout_height="match_parent"
                    android:layout_weight="0.5" />
                <LinearLayout
                    android:id="@+id/btn_photo"
                    android:orientation="horizontal"
                    android:layout_width="0dp"
                    android:layout_height="match_parent"
                    android:layout_weight="7.5"
                    android:background="@drawable/shape"
                    android:weightSum="7.5" >
                    <Space
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:layout_weight="0.5" />
                    <LinearLayout
                        android:orientation="vertical"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:layout_weight="6.5"
                        android:weightSum="3" >
                        <Space
                            android:layout_width="match_parent"
                            android:layout_height="0dp"
                            android:layout_weight="0.25" />
                        <TextView
                            android:layout_width="match_parent"
                            android:layout_height="0dp"
                            android:layout_weight="2.5"
                            android:text="@string/up"
                            android:autoSizeTextType="uniform"
                            android:layout_gravity="center"
                            android:gravity="center" />
                        <Space
                            android:layout_width="match_parent"
                            android:layout_height="0dp"
                            android:layout_weight="0.25" />
                    </LinearLayout>
                    <Space
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:layout_weight="0.5" />
                </LinearLayout>
                <Space
                    android:layout_width="0dp"
                    android:layout_height="match_parent"
                    android:layout_weight="1" />
                <LinearLayout
                    android:id="@+id/btn_pass"
                    android:orientation="horizontal"
                    android:layout_width="0dp"
                    android:layout_height="match_parent"
                    android:layout_weight="7.5"
                    android:background="@drawable/shape"
                    android:weightSum="7.5" >
                    <Space
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:layout_weight="0.5" />
                    <LinearLayout
                        android:orientation="vertical"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:layout_weight="6.5"
                        android:weightSum="3" >
                        <Space
                            android:layout_width="match_parent"
                            android:layout_height="0dp"
                            android:layout_weight="0.25" />
                        <TextView
                            android:layout_width="match_parent"
                            android:layout_height="0dp"
                            android:layout_weight="2.5"
                            android:text="@string/pass_change"
                            android:autoSizeTextType="uniform"
                            android:layout_gravity="center"
                            android:gravity="center" />
                        <Space
                            android:layout_width="match_parent"
                            android:layout_height="0dp"
                            android:layout_weight="0.25" />
                    </LinearLayout>
                    <Space
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:layout_weight="0.5" />
                </LinearLayout>
                <Space
                    android:layout_width="0dp"
                    android:layout_height="match_parent"
                    android:layout_weight="0.5" />
            </LinearLayout>
            <Space
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:layout_weight="0.3"
                />
            <LinearLayout
                android:orientation="horizontal"
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:layout_weight="2"
                android:weightSum="17" >
                <Space
                    android:layout_width="0dp"
                    android:layout_height="match_parent"
                    android:layout_weight="0.5" />
                <LinearLayout
                    android:id="@+id/btn_logout"
                    android:orientation="horizontal"
                    android:layout_width="0dp"
                    android:layout_height="match_parent"
                    android:layout_weight="7.5"
                    android:background="@drawable/shape"
                    android:weightSum="7.5" >
                    <Space
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:layout_weight="0.5" />
                    <LinearLayout
                        android:orientation="vertical"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:layout_weight="6.5"
                        android:weightSum="3" >
                        <Space
                            android:layout_width="match_parent"
                            android:layout_height="0dp"
                            android:layout_weight="0.25" />
                        <TextView
                            android:layout_width="match_parent"
                            android:layout_height="0dp"
                            android:layout_weight="2.5"
                            android:text="ログアウト"
                            android:autoSizeTextType="uniform"
                            android:layout_gravity="center"
                            android:gravity="center" />
                        <Space
                            android:layout_width="match_parent"
                            android:layout_height="0dp"
                            android:layout_weight="0.25" />
                    </LinearLayout>
                    <Space
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:layout_weight="0.5" />
                </LinearLayout>






            </LinearLayout>



        </LinearLayout>
    </androidx.constraintlayout.widget.ConstraintLayout>
</FrameLayout>